<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GPA Tracker</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: #EDE7F6;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm" style="background-color: #3F51B5;">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">GPA Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="/moduleDetails/<%= modules.module_id %>">Module Details</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <h2>Module Details</h2>
    <br />

    <% if (modules) { %>
      <p><b>Module Name:</b><br> <%= modules.module_name %></p>
      <p><b>Module Code:</b><br> <%= modules.module_code %></p>

      <div class="text-end my-3">
        <a href="/editCurrentModule/<%= modules.module_id %>" class="btn btn-primary">Edit Module</a>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Assessment</th>
            <th>Grade</th>
            <th>Weightage</th>
          </tr>
        </thead>
        <tbody>
          <% if (components && components.length > 0) { %>
            <% for (let i = 0; i < components.length; i++) { %>
              <tr>
                <td><%= components[i].component_name %></td>
                <td><%= components[i].grade %></td>
                <td><%= components[i].weightage %></td>
              </tr>
            <% } %>
          <% } else { %>
            <tr>
              <td colspan="3">No components found.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } else { %>
      <p>No module data found.</p>
    <% } %>
    <div class="text-center mt-3">
      <a href="/" class="btn btn-secondary">Back</a>
    </div>
  </div>
</body>
</html>
